<a href="{{ url_for('profile_blueprint.user_profile', username=author.username) }}" class="product-preview">
    <img class="product-image" src="{{ author.avatar(128) }}" alt="profile" />
    <div class="book_title">{{ author.username }}</div>
</a>